*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    background-color: #0f0d10;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23f13406' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Oswald', sans-serif;
  
    
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
    
}

.container{
    width: 90%;
    margin: auto;
   
}

/* Navigation*/

.nav-main{
    width: 90%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    margin: auto;
    
    
}



.logo-nav{
    width: 50px;
    
}



.nav-main ul.nav-menu{
    flex: 1;
    margin: auto;
}


.nav-main ul li a:hover{
    border-bottom: 1px solid #ffffff;
}

/*Showcase*/

hr{
    margin: 10px 0;
}

.showcase{
    width: 100%;
    height: 650px;
    margin-bottom: 20px;
    background: url(img/showcase2.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end ;
    

}

.btn-readmore,
.btn-learnMore{
    cursor: pointer;
    font-weight: bold;
    display: inline;
    border: 0;
    padding: 10px 20px;
    background: #262626;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;
}
.btn-readmore:hover{
    opacity: .7;
}

.btn-learnMore:hover{
    opacity: .7;
}

/*NewsCards*/
.news-cards{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 25px;
    margin: 10px 0;
}

.news-cards{
    margin: auto;
}

.card-img{
    width: 100%;
    height: 180px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px;

}

.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;

}



.card-banner-one{
    width: 100%;
    height: 350px;
    background: url(img/tech-red.jpg);
    margin-bottom: 40px;
}

.card-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

.card-banner-one p,
.card-banner-one h2{
    margin:10px 0 20px 0;
}

.card-banner-2{
    width: 100%;
    height: 350px;
    background: url(img/image-five.jpg) no-repeat center center/cover ;
    
    margin-bottom: 40px;
}

.card-banner-2 .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

.card-banner-2 p,
.card-banner-2 h2{
    margin:10px 0 20px 0;
}

.social {
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    text-align: center;

}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

#form-container{
    background-color:#ffffff;
    opacity: .8;
    width: 500px;
    height: 500px;

    border-radius: 10px;
    padding: 15px;
    margin: auto;
    margin-top: px;
    
   
    
   
}

#form-container input{
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    
    
    
}

#form-container textarea{
    width: 100%;
    margin-top: 5px;
    padding: 0;
}
#form-container h2 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #0f0d10;

}

.formcontent{
    align-items: center;
}

#btnSent{
    
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    
    
}



.error{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: right;
    font-weight: bold;
    
}



.pass-message{
    color: #0f0d10;
}



.global-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.global-container .textForm{
    
    text-align: left;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: 30px;
    margin-bottom: 20%;
    
}

.global-container p{
    font-size: 20px;
    text-align: justify;

}

.home li{
    font-size: 40px;
    list-style-type: none;

}

.footer-container ul{
    display: block;
   
    
}

.footer-container{
    height: 300px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    

}

.footer-links{
    width: 100%;
    background-color: rgb(40, 37, 37);
    text-align: center;
    
    
    
}

.footer-container ul{
    margin-top: 50px;
}

.footer-container li{
    padding: 5px;
    
}

.menu-btn{
    display: none;
}



@media (max-width: 700px) {

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        font-size: 15px;
        transition: transform .5s ease-in-out;
        
        
    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .nav-main ul li a:hover{
        border-bottom: 1px solid #ffffff;
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;


    }

    .nav-main ul.seach-Icon{
        margin-right: 50px;
    }


    .menu-btn{
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 30px;
       z-index: 2;
       font-size: 2rem;
       display: block;
       
       


    }


    .news-cards{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    
    }

    .card-banner-2 .content,
    .card-banner-one .content{
        width: 80%;
    }

    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }

    .global-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .global-container .textForm{
        width: 300px;
        margin: auto;
        text-align: justify;
        font-size: 10px;
        margin-bottom: 20px;
    }

    .textForm h1{
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5px;
    }

    #form-container{
      
        width: 300px ;
        height: 365px;
    }

    #form-container input{
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border-radius: 5px;
        
    }


    #form-container textarea{
        width: 100%;
        height: 80px;
        margin-top: 5px;
        padding: 0;
    }
}

@media (max-width: 500px){
    .news-cards{
        display: grid;
        grid-template-columns: 1fr;
    }

.card-banner-one .content,
.card-banner-2 .content{
    width: 100%;
    padding: 60px 20px;

}

.footer-links .footer-container {
    display: grid;
    grid-template-columns: 1fr;
}

.footer-container{
    height: fit-content;
}

.home{
    font-size: 30px;
}

    
}







